@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.custom-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #0b0b0b;
	color: #fff;
}

::selection {
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.5px;
}

.gradient-background {
	position: fixed;
	width: 150vw;
	height: 150vh;
	background: radial-gradient(
			circle at 50% 50%,
			rgba(59, 130, 246, 0.15) 0%,
			rgba(34, 211, 238, 0.1) 50%,
			rgba(11, 11, 11, 1) 120%
		),
		linear-gradient(
			135deg,
			rgba(139, 92, 246, 0.1) 0%,
			rgba(233, 30, 99, 0.05) 100%
		);
	filter: blur(100px);
	z-index: -1;
	animation: rotate-gradient 40s linear infinite;
	opacity: 0.4;
}

@keyframes rotate-gradient {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.static-gradient {
	position: fixed;
	top: 50%;
	right: 0;
	width: 800px;
	height: 800px;
	background: radial-gradient(
		circle at 50% 50%,
		rgba(147, 51, 234, 0.1) 0%,
		rgba(236, 72, 153, 0.05) 100%
	);
	filter: blur(120px);
	opacity: 0.2;
	z-index: -1;
}

.custom-scrollbar {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #605f65 #1f1f1f;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #1f1f1f;
	border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #605f65;
	border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #888;
}
