/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-padding-top: 5rem;
}

body {
	background-color: #0b0b0b;
	color: #fff;
	scroll-behavior: smooth;
}

.scroller {
	-webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 10%,
		white 90%,
		transparent
	);
	mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
